@font-face {
  font-family: "Pixel";
  src: url(../fonts/NeuePixelSans.ttf);
}
h2,
h3,
p,
input {
  font-family: "Pixel", sans-serif;
}
img {
  padding: 0;
  margin: 0;
  width: 100px;
}
.button {
  background-color: #ffd700;
  color: #282c34;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 15px;
}
.badgeButton {
  background-color: transparent;
  border: none;
}
.badge {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#doneText {
  color: #ffd700;
}
.text {
  font-size: calc(10px + 2vmin);
  color: gray;
  margin: 0;
  padding: 0;
}
.submitForm {
  padding: 5px;
  text-align: center;
  font-family: "Pixel", sans-serif;
}
.codeInput {
  text-align: center;
  font-size: large;
  width: 60%;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: "Pixel", sans-serif;
}
.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
