@font-face {
  font-family: "Pixel";
  src: url(../../fonts/NeuePixelSans.ttf);
}

img {
  width: 30%;
  padding: 20px;
}
h2 {
  margin: 20px;
}
p {
  padding: 20px;
}
.linkingButton {
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 10px;
  background-color: gold;
  color: #15223d;
  font-family: "Pixel", sans-serif;
}
