@font-face {
  font-family: "Pixeled";
  src: local("Pixeled") url(./fonts/Pixeled.ttf) format("truetype");
}
@font-face {
  font-family: "Pixel";
  src: local("Pixel") url(./fonts/NeuePixelSans.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Pixeled";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
